<div class="row">
  <div class="large-12 columns">
    <div class="row">

    <% @restaurants.each do |restaurant| %>
      <div class="large-3 small-6 columns end">
        <ul>
          <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
          <li>Value: <%= restaurant.average_ranking('value') %></li>
          <li>Proximity: <%= restaurant.average_ranking('proximity') %></li>
          <li>Volume: <%= restaurant.average_ranking('volume') %></li>
          <li>Originality: <%= restaurant.average_ranking('originality') %></li>
        </ul>
      </div>
    <% end %>
    </div>


    <div class="row">
      <p><%= paginate @restaurants %></p>
    </div>
