<h1 class="restaurant"><%= @restaurant.name %></h1>
    <ul class="restaurant_info restaurant">
      <li>
        <%= @restaurant.address %>
      </li>
      <li>
        <%= @restaurant.city %>
        <%= @restaurant.state %>
        <%= @restaurant.zip_code %>
      </li>
    </ul>
<br>
  <% unless @restaurant.reviews.empty? %>
    <h3>Reviews</h3>
    <br>
    <%= paginate @reviews %>
      <table class="responsive centered">
        <tr>
          <th>Username</th>
          <th>Ratings</th>
          <th>Comments</th>
        </tr>
        <% @reviews.each do |review| %>
        <tr>
          <td><h5><%= review.user.username%></h5>
            <% if current_user == review.user %>
              <p><%= link_to "Edit Review", edit_review_path(review) %></p>
              <p><%= button_to "Delete Review", restaurant_review_path(@restaurant, review.id), method: :delete, class: "button tiny round gold" , data:
              {confirm: "Are you sure you want to delete this review?"}%></p>
            <% end %>
          </td>
          <td>
            <ul>
              <li>Value: <%= review.value %></li>
              <li>Proximity: <%= review.proximity %></li>
              <li>Volume: <%= review.volume %></li>
              <li>Originality: <%= review.originality %></li>
            </ul>
          </td>
          <td><%= review.body %></td>
          <td>
            <% if current_user %>
              <%= link_to like_restaurant_review_path(@restaurant, review), class: "button upvote" do %>
                &#9650;<span id="<%= review.id %>-upvotes"><%= review.get_upvotes.size %></span>
              <%- end -%>
              <%= link_to dislike_restaurant_review_path(@restaurant, review), class: "button downvote" do %>
                &#9660;<span id="<%= review.id %>-downvotes"><%= review.get_downvotes.size %></span>
              <%- end -%>
            <%- else -%>
              <div class="button">
                &#9650;<span id="<%= review.id %>-upvotes"><%= review.get_upvotes.size %></span>
              </div>
              <div class="button">
                &#9660;<span id="<%= review.id %>-downvotes"><%= review.get_downvotes.size %></span>
              </div>
            <%- end -%>
          </td>
        </tr>
        <% end %>
      </table>
  <% end %>
</div>
<br>

<div class="new-review container">
  <%= form_for [ @restaurant, @review ] do |f| %>
    <%= f.label "value" %>
    <%= f.select :value, Review::VALUES, :include_blank => true %>

    <%= f.label "proximity" %>
    <%= f.select :proximity, Review::PROXIMITY, :include_blank => true %>

    <%= f.label "volume" %>
    <%= f.select :volume, Review::VOLUME, :include_blank => true %>

    <%= f.label "originality" %>
    <%= f.select :originality, Review::ORIGINALITY, :include_blank => true %>

    <%= f.label "body" %>
    <%= f.text_area :body %>

    <%= f.submit "Submit", class: "button tiny round" %>
  <% end %>
</div>
<p class="text-center"><%= link_to "Home", restaurants_path %></p>
