<div class="small-4">
  <%= form_for [ @restaurant, @review ] do |f| %>
    <%= f.label "value" %>
    <%= f.select :value, Review::VALUES, :include_blank => true %>

    <%= f.label "proximity" %>
    <%= f.select :proximity, Review::PROXIMITY, :include_blank => true %>

    <%= f.label "volume" %>
    <%= f.select :volume, Review::VOLUME, :include_blank => true %>

    <%= f.label "originality" %>
    <%= f.select :originality, Review::ORIGINALITY, :include_blank => true %>

    <%= f.label "body" %>
    <%= f.text_area :body %>

    <%= f.submit "Submit" %>
  <% end %>
</div>
