<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DateBites</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Amaranth:700italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="off-canvas-wrap fixed" data-offcanvas>
    <div class="inner-wrap">
      <%= render "layouts/small_header" %>
      <%= render "layouts/not_small_header" %>
      <%= render "layouts/flash" %>

      <section class="main-section">
        <div class="row fullWidth">
          <div class="small-12 small-centered columns text-center">
            <div class = "under-header">
              <%= yield %>
            </div>
          </div>
        </section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

      <%= javascript_include_tag 'application' %>
      <%= yield :extra_footer %>
</body>
