<!DOCTYPE html>
<html>
<head>
  <title>DateBites</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="background">
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Date Bites</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <%- if !current_user.nil? && current_user.admin? -%>
            <li class="has-dropdown">
              <%= link_to 'admin', '#' %>
              <ul class="dropdown">
                <li><%= link_to 'Users', admin_users_path %></li>
                <li><%= link_to 'Restaurants', admin_restaurants_path %></li>
                <li><%= link_to 'Reviews', admin_reviews_path %></li>
              </ul>
            <%- end -%>
          </ul>

    <section class="top-bar-section">
      <ul class="left">
        <%= form_tag restaurants_path, :method => "get", id: "search-form" do %>
          <%= text_field_tag :search, params[:search], size: 30,
          placeholder: 'Search Restaurants', required: true %>
          <%= submit_tag 'Search', name: nil, id: 'hidden-submit', style: 'display: none;' %>
        <% end %>
        <%- if !current_user.nil? && current_user.admin? -%>
        <li class="has-dropdown">
          <%= link_to 'admin', '#' %>
          <ul class="dropdown">
            <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Restaurants', admin_restaurants_path %></li>
            </ul>
          <%- end -%>
        </ul>

        <ul class="right">
          <%- if current_user -%>
            <%= image_tag current_user.profile_photo, size: '25x25', crop: :fill %>
            <li class="has-dropdown">
              <%= link_to current_user.username, "#" %>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
          </ul>
        </section>
      </nav>
    </div>

      <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      <%- end -%>

      <%= yield %>

      <%= javascript_include_tag 'application' %>
      <%= yield :extra_footer %>
    </div>
  </body>
</html>
